body {
  background-color: "white";
}

.topnav {
}
#main-page {
}

#contain {
}

#logo {
  position: relative;
  bottom: 60px;
  color: #bfaeed;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

.section {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  color: #bfaeed;
  background-color: #35003d;
  overflow: hidden;
}
.card {
  max-width: 500px;
}

#still {
 height: 548px;
}

#gif1, #gif2{
  display: none;
}

.card:hover {
  transform: scale(1.02)
}

.topnav {
  background-color: #35003d;
  overflow: hidden;
  z-index: 1000;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #bfaeed;
  color: #c236c4;
}

.banner-text {
  position: relative;
  bottom: 489px;
}
.banner {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background-position: center 300px;
  color: white;
  text-shadow: 2px 2px 10px red;
  height: 200px;
}

#banner-art {
  position: relative;
  bottom: 88px;
  width: 102%;
  max-height: 752px;
  margin-left: -41px;
  margin-right: -22px;
}

#banner-ready {
    color: white;
    animation:blinkingText 2s infinite;
    font-size: 15px;
}

.featured {
  position: relative;
  top: 460px;
}
@keyframes blinkingText {
  0%{color: white;}
  49%{color: transparent;}
  50%{color: white;}
  99%{color: transparent;}
  100%{color: white;}
}

#splash-button, .key {
  border: 1px solid currentColor;
  border-radius: 5px;
  display: inline-block;
  padding: .8em;
}
#splash-h1 {
  color: #ffffff;
  font-family: 'Press Start 2P', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3rem;
  margin-bottom: .5em;
  text-align: center;
  text-shadow: 2px 2px 3px black;
}
#splash-ul {
  margin-bottom: 2rem;
  font-family: 'Press Start 2P', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3rem;
}
#splash-li {
  color: #FEE04A;
  font-size: .8rem;
  margin-bottom: 1em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 1px;
}
#splash-button {
  appearance: none;
  background-color: #ffffff;
  color: blue;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  outline: none;
  padding: .7em .85em .6em 1em;
  text-transform: uppercase;
  transition: color .2s linear, background-color .2s linear;
  animation: blinker .8s linear infinite;
  font-family: 'Press Start 2P', sans-serif;
  line-height: 22px;
}
@keyframes blinker {
  90% {
    opacity:0;
  }
}
#splash-button:focus, #splash-button:hover {
  background-color: black;
  color: #ff9d00;
  transition-duration: .07s;
}
#splashform {
  align-items: center;
  background-image: url('../images/landing4.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transform: translateX(0);
}
#splash-content {
  max-width: 50.25rem;
  padding: 18px;
}
.key {
  border-color: white;
  color: white;
}
.key--arrow {
  font-size: 1.8rem;
  padding: 0.35em 0.1em 0.6em;
  position: relative;
  line-height: 0.3;
  top: .05em;
}

#arcade-background {
  z-index: 1;
  opacity: 0.95;
  position: relative;
  bottom: 71px;
  width: 100%;
}


/* canvas {
  display: block;
  position: relative;
  left: 285px;
  top: 235px;
  border: 1px solid #000;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
} */

#asteroids {
  z-index: 1000;
  position: relative;
  left: 285px;
  top: 235px;
  display:none;
  border-radius: 5px;
  box-shadow: 4px 8px 40px 20px pink;
}
